# Example systemd service script
# /etc/systemd/system/flask-demo.service

[Unit]
Description=Demo Flask-Gopher server

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/var/gopher/demo/run_server.py

[Install]
WantedBy=default.target
